* {
    box-sizing: border-box;
}

.sou-table-wrapper {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65098);
}

.left-wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.right-wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.right-top-wrapper {
    overflow: auto;
}

.right-top-wrapper::-webkit-scrollbar {
    display: none;
}

.right-bottom-wrapper {
    overflow: auto;
}

.inner-wrapper {
    display: table;
    position: relative;
}

.sou-table-left-header {
    border-collapse: collapse;
    text-align: center;
}

.sou-table-left-header > thead {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #108ee9;
    color: white;
    cursor: pointer;
}

.sou-table-left-header th {
    border: solid 1px #e9e9e9;
    color: white;
}

.sou-table-left-header th:hover {
    background-color: #49a9ee;
}

.sou-table-left-header > tbody {
    display: block;
    overflow: auto;
    background-color: #f7f7f7;
}

.sou-table-left-header > tbody::-webkit-scrollbar {
    display: none;
}

.sou-table-left-header td {
    padding: 1px 8px 0;
    border: solid 1px #e9e9e9;
}

.sou-table-left-header td.sou-selected-cell-indicator {
    background-color: #d9d9d9;
}

.sou-table-left-header td:hover,
.sou-table-left-header td.sou-selected-cell-indicator:hover {
    background-color: #fcfcfc;
}

.sou-table {
    border-collapse: collapse;
    text-align: left;
}

.sou-table > thead {
    background-color: #f7f7f7;
}

.sou-table > thead > tr {
    display: block;
    text-align: left;
}

.sou-table th {
    padding: 1px 8px 0;
    border: 1px solid #e9e9e9;
    border-left: none;
    font-weight: normal;
    text-align: center;
}

.sou-table th:first-child {
    border-left: solid 1px #e9e9e9;
}

.sou-table > tbody {
    display: block;
    overflow: auto;
    background-color: white;
    cursor: cell;
}

.sou-table > tbody > tr:first-child {
    font-weight: bold;
}

.sou-table th:hover,
.sou-table th.sou-selected-cell-indicator:hover {
    background-color: #fcfcfc;
}

.sou-table td:first-child {
    font-weight: bold;
}

.sou-table td {
    position: relative;
    padding: 1px 8px 0;
    border: 1px solid #e9e9e9;
}

.sou-table th.sou-selected-cell-indicator,
.sou-table td.sou-selected-cell-indicator {
    background-color: #d9d9d9;
}

.sou-table .sou-selected-cell {
    background-color: #ecf6fd;
}

.sou-input {
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px #49a9ee inset, 0 0 0 1px #49a9ee;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: 100%;
    color: inherit;
}

.sou-current-borders > div,
.sou-area-borders > div {
    position: absolute;
    background-color: #108ee9;
}

.sou-paste-borders > div {
    position: absolute;
    background-color: #f04134;
}

.sou-drag-grip {
    width: 8px;
    height: 8px;
    border: 2px solid white;
    cursor: crosshair;
}

.sou-context {
    position: absolute;
    width: 200px;
    padding: 8px 0;
    background-color: #404040;
    list-style: none;
    color: white;
    line-height: 32px;
    z-index: 200;
}

.sou-context > li {
    padding: 0 20px;
}

.sou-context > li > span {
    padding-left: 10px;
}

.sou-context > li:hover {
    cursor: default;
    text-decoration: underline;
}

.sou-context > .divider {
    height: 1px;
    margin: 4px 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
